* {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Ubuntu", serif;
    background: #ececec;
    text-align: center;
}

.login-form{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate( -50%, -30%);
    width: 400px;
    padding: 40px 30px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 30px #ffff, 0px 0px 30px #715bac;

}
.login-form img{
    width: 70px;
    height:70px ;
    border-radius: 50px;
    box-shadow: 0px 0px 12px #c7c4c4, 0px 0px 12px #54089b;

}
.login-form h1{
    font-size: 36px;
    color: #999;
    margin-top: 5px;
}

.login-form input{
    width: 100%;
    margin-bottom: 30px;
    padding: 20px 25px;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 18px;
    background: #fff;
    box-shadow: inset 0px 0px 15px #ffffff, inset 0px 0px 15px #a85a5a;

}
.login-form button{
    width: 100%;
    margin-bottom: 30px;
    padding: 17px 0px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    color: #999;
    background: #ececec;
    box-shadow: inset 0px 0px 15px #c7c4c4, inset 0px 0px 15px #fff ;
    transition: .3s;
}
.login-form button:hover{
    color: #484747;
    cursor: pointer;
    box-shadow: inset 0px 0px 15px #139b4cc4, inset 0px 0px 15px #fff ;
}
.login-form span{
    color: #999;
    font-size: 16px;
    display: block;
}
.login-form span a{
    text-decoration: none;
}
.login-form span a:hover{
    color: rgb(209, 35, 116);
}